<h2>{{ 'HOME.Login' | translate }}</h2>

<form [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">

  <div class="input">
    <input type="text" 
          formControlName="username" 
          placeholder=" ">

    <span class="icon"></span>
    <label>{{'HOME.Username' | translate}}</label>
  </div>

  <div class="input" >
    <input type="password" placeholder=" " formControlName="password">

    <span class="icon"></span>
    <label>{{'HOME.Password' | translate}}</label>
  </div>
    
  <div class="input" >
    <input type="password" placeholder=" " formControlName="pconfirm">

    <span class="icon"></span>
    <label>{{ 'HOME.Cpassword' | translate }}</label>
  </div>

  <button type="submit" [disabled]="!loginForm.valid">{{ 'HOME.Login' | translate }}</button>
  <button routerLink="/forgot-password">{{ 'HOME.Forgot' | translate }}</button>
</form>
