<h2>Forgot password</h2>

<form [formGroup]="forgotForm"
      (ngSubmit)="onSubmit()">

  <div class="input">
    <input type="text" placeholder=" " formControlName="username">
    <span class="icon"></span>
    <label>Username</label>
  </div>

  <div class="input">
    <input type="password" placeholder=" " formControlName="newPassword">
    <span class="icon"></span>
    <label>New password</label>
  </div>
    
  <div class="input">
    <input type="password" placeholder=" " formControlName="pconfirm">
    <span class="icon"></span>
    <label>Password confirm</label>
  </div>

  <button type="submit" [disabled]="!forgotForm.valid">Submit</button>
</form>
